
html, body {
    height: 100%;
}

.container .height100per{
    padding: 0;
    margin-top: 0;
}

.row{
    margin-top: 5%;
}

.height90per{
    min-height: 90%;
    height: 90%;
}

.height100per{
    min-height: 100%;
    height: 480px;
}

.height100per>a>img, .nota3>a>img{
    min-height: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-control-next, .carousel-control-prev{
    height: 80%;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 25px;
    height: 25px;
    background-size: 70% 70%;
    border-radius: 5px;
}

.contenedor-textos{
    background-color: indianred;
    position: absolute;
    padding: 1em;
    margin: 2em;
    border-radius: 7px;
    bottom: -28px;
}
.contenedor-textos>h2, .contenedor-textos>h3{
    text-align: justify;
}
.contenedor-textos>h2{
    font-size: 1.5em;
    color: white;
    margin-bottom: 5%;
}
.contenedor-textos>h3{
    font-size: 1em;
    color: lightgray;
}

.height100per>.carousel-indicators {
    bottom: 12px;
}
.height100per>.carousel-indicators li{
    height: 5px;
}
.nota3-main{
    height: 300px;
}

.nota3{
    height: 250px;
}

.categoria-nota3{
    height: 50px;
    border: 2px solid indianred;
}
.categoria-nota3>h1{
    font-size: 2em;
    padding-top: 5px;
    text-align: center;
}

.nota5{
    border-bottom: 4px solid indianred;
}

.nota5>a>h1{
    font-size: 1.5em;
    color: black;
}

.nota5>h2{
    font-size: 1em;
    color: darkgray;
}
.nota5>h2>a{
    color: darkgray;
    text-decoration: underline;
    font-style: italic;
}
.title-category{
    margin-top: 5%;
    border-bottom: 3px solid green;
    font-family: serif;
    font-size: 2.2em;
    margin-bottom: -5%;
}
.imgNota6{
    width: 100%;
    height: 100%;
    background-size: contain;
}
.imgNota6-1{
    height: 180px;
}
.imgNota6-2{
    padding-right: 0;
    height: 120px;
}
.imgNota6-3{
    padding-left: 0;
    height: 120px;
}

.row-nota6{
    margin-top: 0;
}

.comment-form-comment>#comment{
    width: 100%;
}
.contenido-texto>p{
    margin-bottom: 2em
}
.contenido-texto>figure>img{
    height: auto;
}
.tipo-nota-11{
    height: 550px;
}
.tipo-nota-11>.row{
    margin-top: 1em;
    padding-right: 2em;
    padding-left: 1em;
}

.tipo-nota-11>.row>div>h1{
    color: #FFF;
    margin: 0 auto;
    font: italic bold 4em Georgia, Serif;
    text-shadow: 5px 5px 1px #222222;
}

.sub-titulo-nota-11{
    margin-top: 0 !important;
}

.sub-titulo-nota-11>div>h2{
    color: #333333;
    margin: 0 auto;
    font: italic bold 2em Georgia, Serif;
    text-shadow: -5px 3px 0px #dddddd;
}
.img-nota-11{
    width: 100%;
    height: 6em;
}
.cuerpo-tipo-nota-11{
    background: indianred;
    padding: 0.8em;
    border-radius: 0px 0px 25px 0px;
}
.cuerpo-tipo-nota-11>a>h1{
    font-size: 1em;
    font-family: initial;
    color: white;
    font-weight: 700;
    text-align: justify;
}
.cuerpo-tipo-nota-11>p{
    font-size: 0.8em;
    font-family: initial;
    color: white;
    font-weight: 700;
    margin-top: 5px;
}
.cuerpo-tipo-nota-11>.TextL{
    bottom: 5px;
    position: absolute;
    width: 100%;
}
.cuerpo-tipo-nota-11>.TextL>.AutorText{
    margin-left: 0.5em;
    width: 70%;
    padding-top: 10px;
}

.titulo-nota12>h2{
    border-bottom: 3px solid indianred;
    font-family: serif;
    font-size: 2em;
    text-align: center;
}

.hidden{
    display: none;
}

.cont-img-nota-11{
    padding-right: 0px !important;
}

.tipo-nota-13>div{
    padding-left: 3em;
    padding-right: 3em;
}

.tipo-nota-13>div>h2{
    font-size: 2.2em;
    font-family: serif;
    border-bottom: 5px solid indianred;
    border-radius: 3px;
    padding-left: 1em;
    color: darkslategray;
}

.img-nota-13{
    width: 100%;
}
.cuerpo-tipo-nota-13>a>h1{
    font-size: 1.5em;
}
.content-tipo-nota-13>h4{
    font-size: 0.8em;
}
.cuerpo-tipo-nota-13>.TextL{
    margin-top: 1em;
}
.footer-class{
    background-color: indianred;
    margin-top: 2em;
}
.footer-left, .footer-right{
    margin-top: 2em;
    color: white;
}
.footer-left{
    border-right: 2px solid white;
}
.menu-footer-1{
    list-style: none;
    font-size: 1.7em;
}
.menu-footer-1>li>a{
    color: white;
}
.footer-svg-icon{
    height: 50px;
    width: 50px;
    color: white;
}
.footer-right>h2{
    text-align: center;
}
.inner-right>h4{
    text-align: center;
}
.footer-right>h4{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.footer-right>p{
    margin-top: 2em;
}
.footer-right>p.text-center{
    margin-top: 0.5em;
    font-weight: 800;
}
.footer-tel>a{
    text-decoration: none;
    color: white;
    width: 100%;
}
.footer-tel{
    margin-top: 0;
    text-align: center;
}
.powered{
    margin-top: 1.8em;
    color: white;
    font-size: 0.8em;
}
.powered>div>p>a{
    color: white;
}
.margin-double{
    margin-top: 10%;
}
.double-h1{
    font-size: 1.5em;
    text-align: right;
    font-style: italic;
}
.double-h1>h1{
    padding-top: 0!important;
}
.remove-padding{
    padding-top: 0.5em!important;
}

.comment-respond{
    border: 3px dashed indianred;
    padding: 1em;
}
/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) { 
    .contenedor-textos>h3{
        font-size: 0em;         
    }
    .hidden-sm{
        display: none;
    }
    .tipo-nota-11>.row>div>h1 {
        font-size: 2.5em;
    }
    .sub-titulo-nota-11>div>h2 {
        font-size: 1.5em;
    }
    .tipo-nota-11>.row {
        padding-right: 1em; 
        padding-left: 0;
    }
    .titulo-nota12{
        margin-top: 5%;
    }
    .footer-left{
        border-right: 0;
    }
    .double-h1{
        margin-top: 2em;
        text-align: left;
    }
    .text-sm-center{
        text-align: center;
    }
    .tipo-nota-13>div>h2{
        padding-left: 0;
        text-align: center;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .hidden-sm{
        display: none;
    }
    .footer-right>h2{
        font-size: 1.5em;
    }
    .inner-right>h4{
        font-size: 1.3em;
    }
}

/* // Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .hidden-md{
        display: none;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    
}

@media (min-width: 0px){
    .footer-right>h2 {
        font-size: 1.2em;
    }
    .inner-right>h4 {
        font-size: 1.2em;
    }
}

@media (min-width: 992px){
    .hidden-md{
        display: none;
    }
}

@media (min-width: 1200px){
    .hidden-md{
        display: block;
    }
}
.Note1{
    width: 100%;
    height: 300px;
    margin: 20px;
    border-bottom: 2px solid green;
    padding-bottom: 5%;
}
.HeadNote1Arrow{
    border-bottom: green;
    width: 100%;
    height: 100%;
}
.HeadNote1Arrow>a>h1{
    font-size: 1.3em;
    border-bottom: solid 2px green;
    color: black;
}
.HeadNote1{
    width: 100%;
    height: 15%;
}
.BodyHead1{
    width: 100%;
    height: 85%;
}
.ImgNote1{
    width: 100%;
    height: 100%;
    position: relative;
}
.TitleNoteIn1{
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 90%;
    background: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 10px;
}
.TitleNoteIn1>h1{
    font-size: 1.5em;
}
.TitleNoteIn1>h2>a{
    color: lightgray;
    text-decoration: underline;
}
.TitleNoteIn1>h2{
    font-size: 0.7em;
    color: white;
    text-align: justify;
}
.Nota4{
    width: 100%;
    /* display: flex; */
    height: 8em;
    border-bottom: 1px solid indianred;
}
.InNota4{
    width: 95%;
    height: 95%;
    /* display: flex; */
    margin: auto;
    margin-top: 2%;
}
.ImgNota4{
    width: 90%;
    height: 100%;
    margin: auto;
    border: 2px solid indianred;
    background-position: center!important;
}
.Nota4R{
    height: 100%;
    width: 75%;
    float: left;
}
.Nota4L{
    height: 100%;
    width: 25%;
    float: left;
}
.Nota4RH{
    width: 100%;
    height: 20%;
    font-size: 1em;
    font-weight: bold;
    color: rgb(111 111 111);
	overflow: hidden;
}
.Nota4RH>a>h1{
    font-size:1em;
    color: #37302a;
    text-decoration: underline;
	height: 100%;
}
.Nota4RF{
    width: 100%;
    height: 10%;
    font-size: .8em;
    color: blue;
    font-weight: bold;
}
.Nota4RB{
    text-align: justify;
    width: 100%;
    height: 80%;
    font-size: .8em;
}
.Nota4RL{
    width: 100%;
    height: 15%;
    border-bottom: solid 3px indianred;
}
.Nota4RLL{
    width: 80%;
    height: 100%;
    float: left;
}
.Nota4RLR{
    height: 100%;
    width: 20%;
    float: right;
    align-items: center;
	display: none;
}
.btnSegu{
    width: 40%;
    height: 90%;
    margin: 0px auto;
    background-color: indianred;
    text-align: center;
    color: white;
    border-radius: 2px;
    font-size: .60em;
}
.MiniAutor{
    width: 100%;
    height: 100%;
}
.ImgAutorC{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.ImgAutor{height: 55px;width: 52px;border-radius: 180px;float: left;background-size: contain !important;margin: auto;}
.ExtractoAutor{
    width: 100%;
    height: 33%;
    font-size: .5em;
    text-align: center;
}
.AutorText{
    width: 100%;
    height: 10%;
    font-size: .5em;
    text-align: center;
    color: #000058;
}
.ExtractoTitulo2>a{
    color: gray;
    text-decoration: underline;
}
.nota8{
    border: 3px solid indianred;
    padding-top: 10px;
    margin-top: 8% !important;
}
.nota8 .col-4{
    margin-bottom: 0.5em;
}
.nota8>h1{
    font-size: 1.8em;
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
    font-family: monospace;
}
.background-red{
    background-color: indianred;
}
.footer-section1, .footer-section2{
    padding: 3em;
    color: white;
    font-family: monospace;
    font-size: 0.8em;
    text-align: justify;
}

.footer-section2{
    text-align: center;
}

.footer-section2>p>a{
    color: whitesmoke;
    text-decoration: underline;
    font-size: 1.2em;
}
.rowN10{
    width:100%;
    height:450px;
    display:flex;
}
.COntTwitter{
    width:100%;
    height:100%;
    overflow: auto;
    border-top: 3px solid indianred;
}
.xRowCol{
    width: 100%;
    height: 90%;
    margin-top: 5%!important;
}
.HeadRow10{
    height:10%;
    width:100%;
}
.textCenter{
    text-align: center;
    border-bottom: 3px solid indianred;
    font-family: serif;
    font-size: 2em;
}
.ContPic10{
    width:100%;
    height: 50%;
}
.HTextNot10{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    margin: auto;
}
.TextNot10{
    width: 100%;
    height: 20%;
    margin: auto;
}
.FTextNot10{
    width: 100%;
    height: 15%;
    margin: auto;
}
.imgNote10{
    width: 100%;
    height: 100%;
    margin: auto;
}
.xROwCol7{
    width: 58.33%;
    float: left;
    height: 100%;
}
.HTextNot10>h1{
    color: black;
    font-size: 1.2em;
    text-align: justify;
}
.TextNot10>h2{
    font-size: 0.8em;
    text-align: justify;
}
.FTextNot10 .TextL{
    width: 60%;
    height: 100%;
    float: left;
}
.FTextNot10 .TextR{
    width: 40%;
    height: 100%;
    float: left;
}
.TextL .ImgAutor{
    height: 30px;
    width: 30px;
    float: left;
}
.TextL .AutorText{
    color: #001c48;
    height: auto;
    width: calc( 100% - 40px);
    float: left;
    font-size: .8em;
    padding-top: 2%;
    text-align: left;
}
.TextR>h3{
    font-size: .8em;
    color: #ff0000;
    padding-top: 2%;
    text-align: right;
}
.xROwCol5{
    width: 41.66%;
    height: 25%;
    float: left;
    padding-left: 2%;
}
.HTextNot510H{
    width: 100%;
    height: 80%;
    display: flex;
    /* margin-left: 2%; */
    align-items: center;
}
.HTextNot510HT{
    width: 70%;
    height: 100%;
    align-items: center;
    float: left;
    display: flex;
}
.HTextNot510HT>h1{
    font-size: 1em;
}
.HTextNot510HI{
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    align-content: center;
    align-items: center;
}
.imgNote510{
    width: 100%;
    height: 100%;
}
.HTextNot510F{
    width: 100%;
    height: 20%;
    /* margin-left: 4%; */
}
.HTextNot510F>h3{
    font-size: .8em;
}
.contenido-titulo{
    color: #333333;
    margin: 0 auto;
    font: italic bold 2em Georgia, Serif;
    text-shadow: -5px 3px 0px #BBBBBB;
}
@media only screen and (max-width: 600px) {
    .rowN10{
    width: 100%;
    height: 1100px;
    display: block;
}
    .rowN10 .col-9{
    width: 100%;
    height: auto;
    flex: none;
    max-width: 100%;
}
.Nota4RH>a>h1 {
	font-size: 1.1em;
}
h1.contenido-titulo.text-center{
	font-size: 1.8em;
}
.InNota4 {
	width: 95%;
    height: 95%;
}
.Nota4 {
    width: 100%;
    height: 24em;
}
.Nota4L {
	height: 50%;
    width: 100%;
}
.Nota4R {
	height: 50%;
    width: 100%;
}
.Nota4RH {
	width: 100%;
    height: 20%;
    font-size: 1.1em;
}
.Nota4RF {
	width: 100%;
    height: 10%;
    font-size: .9em;
}
.Nota4RB {
	width: 100%;
    height: 55%;
    font-size: 1.1em;
}
    .rowN10 .col-3{
        flex: none;
        width: 100%;
        max-width: 100%;
        height: 380px;
    }
    .HeadRow10{
        width: 100%;
        height: 40px;
        margin-top: 5%;
    }
    .xRowCol{
        width: 100%;
        height: auto;
    }
    .xROwCol7{
        width: 100%;
        height: 400px;
    }
    .xROwCol5{
        width: 100%;
        height: 90px;
        margin: auto;
    }
}
.ContePa{
    width: 100%;
    height: 250px;
    margin: 20px;
}
.ImgNota2{
    width: 100%;
    height: 55px;
    width: 52px;
    border-radius: 180px;
    float: left;
    background-size: contain !important;
}
.Titulo2{
    float: left;
    width: 80%;
    font-size: 1.2em;
    padding-top: 20px;
    color: black;
}
.ImgComple{
    width: 100%;
    height: 100%;
    background-size: cover !important;
}
.ArribaPar{
    height: 25%;
}
.AbajoPar{
    height: 75%;
}
.PrinCont{
    width: 100%;
    height: 250px;
    margin: 20px;
}
.ImgCon{
    width: 100%;
    height: 55px;
    width: 59px;
    border-radius: 180px;
    float: left;
    background-size: cover !important;
    margin-top: 8px;
}
.TituloPrin>h1{
    float: left;
    width: 72%;
    font-size: .9em;
    text-align: center;
    padding-top: 12px;
}
.PrinCont2{
    border-bottom: solid 2px indianred;
    width: 100%;
}
.TheAutor>p{
    float: left;
    width: 80%;
    font-size: .7em;
    text-align: center;
    padding-top: 2px;
    margin-left: -52px;
}
.TheDate>p{
    float: left;
    width: 80%;
    font-size: .7em;
    text-align: center;
    padding-top: 2px;
    margin-left: -52px;
    margin-bottom: 4px;
}
.ContDirecPrin{
    width: auto;
    height: 250px;
    border: solid 1px blue;
}
.PrinconteDir>.row>.col-6>.row>h1{
    font-size: 1.2em;
    width: 100%;
    font-weight: 800;
}
.PrinconteDir>.row>.col-6>.row>h2{
    font-size: 1.2em;
    width: 100%;
}
.PrinconteDir>.row>.col-md-4>h1{
    font-size: 0.9em;
    width: 80%;
    height: 100%;
    float: left;
    padding-top: 1em;
}
#Col6L .row{
    padding-right: 10px;
    text-align: right;
    height: 3em;
}
#Col6R .row{
    padding-right: 10px;
    text-align: left;
    height: 3em;
}

@media only screen and (max-width: 376px) {
    .PrinconteDir>.row>.col-6>.row>h1{
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 376px) {
    .PrinconteDir>.row>.col-md-4>h1{
        font-size: 0.6em;
    }
}
.ImgFaceDir{
    background: url("imagen/FacebookG.png") no-repeat;
    background-position: center;
    background-size: contain;
    width: 20%;
    height: 100%;
    float: left;
}
.ImgInstaDir{
    background: url("imagen/InstagramG.png") no-repeat;
    background-position: center;
    background-size: contain;
    width: 20%;
    height: 100%;
    float: left; 
}
.ImgTwiDir{
    background: url("imagen/twitterG.png") no-repeat;
    background-position: center;
    background-size: contain;
    width: 20%;
    height: 100%;
    float: left; 
}
.nav-collapse ul{
	margin:0;
	padding:0;
	width:100%;
	display:block;
	list-style:none;
}
.nav-collapse li{
	width:100%;
	display:block;
    height: 40px;
}
.js .nav-collapse{
	clip:rect(0 0 0 0);
	max-height:0;
	position:absolute;
	display:block;
	overflow:hidden;
	zoom:1;
}
.nav-collapse.opened{
	max-height:9999px;
	width: 100%;
}
@media screen and (min-width:40em){
	.js .nav-collapse{
		position:relative;
		max-height:none;
	}
	.nav-toggle{
		display:none;
	}
}
body,div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dt,dd,ol,ul,li,hr,fieldset,form,label,legend,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,summary,hgroup{
	margin:0;
	padding:0;
	border:0;
}
a:active,a:hover{
	outline:0;
}
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}
body{
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	text-size-adjust:100%;
	color:#37302a;
	background:#fff;
	font:400 100%/1.4 sans-serif;
}
.special-row{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.nav-collapse,.nav-collapse *{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.nav-collapse{
	list-style:none;
	width:70%;
	float:left;
}
.nav-collapse li{
	float:left;
	width:12.5%;
}
@media screen and (min-width:40em){
	.nav-collapse li{
		width:12.5%;
	}
}
.nav-collapse a{
	color:#fff;
	text-decoration:none;
	width:100%;
	background: indianred;
	border-bottom:1px solid white;
	float:left;
	height: 40px;
}
@media screen and (min-width:40em){
	.nav-collapse a{
		margin:0;
		float:left;
		text-align:center;
		border-bottom:0;
		border-right:1px solid white;
		padding-top: 0.5em;
	}
}
.nav-collapse ul ul a{
	background:#ca3716;
	padding-left:2em;
}
@media screen and (min-width:40em){
	.nav-collapse ul ul a{
		display:none;
	}
}
.nav-toggle{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	width:70px;
	height:55px;
	float:right;
	text-indent:-9999px;
	overflow:hidden;
	background:#ffffff url("imagen/hamburger.gif") no-repeat 50% 50%;
}

@media only screen and (max-width: 600px) {
	input#abrir-cerrar { 
        visibility:hidden;
        position: absolute;
        top: -9999px;
    }
	.toggle-button:before, .toggle-button:after {
        position:absolute;
        display:block;
        content:" ";
        width: calc(100% / 2);               
        box-sizing: border-box;
        left: calc(100% / 4);
        transition: all 0.2s ease-out;
    }
	input#abrir-cerrar:checked + .toggle-button:before, input#abrir-cerrar:checked + .toggle-button:after {
        top:calc(100% / 2);
        height: 4px;
        border-bottom:0;
    }

    input#abrir-cerrar:checked + .toggle-button:before {
        transform: rotate(45deg); 
    }

    input#abrir-cerrar:checked + .toggle-button:after {
        transform: rotate(-45deg);
    }
    .toggle-button:before {
        top: calc(100% / 4);
        height: calc(100% / 3.5);
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        background-color: transparent;
    }

    .toggle-button:after {
        height: 4px;
        background-color: white;
        bottom:calc(100% / 4);
    }
    .toggle-button {
        display:block;
        width:100%;
        height:100%;
        /* border: 2px solid white; */
        position:relative;
        cursor: pointer;
        box-sizing: border-box;
        background-color: indianred;
    }
	.nav-toggle{
		/* background-color: indianred; */
		display: inline-block;
		width: 70px;
		height: 70px;
	}
	.nav-collapse.closed {
		width: 100%;
	}
	.dBusca{
		width: 100%!Important;
		background: indianred;
		border-bottom: 1px solid#FFFFFF;
	}
	.cBtnBusca{
		display: none;
	}
	div#dLogo {
		width: calc(100% - 80px);
	}
	div#dMenuResp {
		width: 0px;
		height: 0px;
		visibility: hidden;
		display: none;
		margin-left: 0%;
		transition: left 0s ease, width 0s ease-out 0s;
		-moz-transition: left 0s ease, width 0s ease-out 0s;
		-webkit-transition: left 0s ease, width 0s ease-out 0s;
	}
	div#dMenuResp.Active {
		width: 100%!Important;
		height: 100%!Important;
		visibility: initial!Important;
		position: fixed!Important;
		z-index: 99!Important;
		display: block;
		top: 70px!Important;
		background-color: indianred;
	}
	div#dMenuResp.Active .searchform {
		visibility: initial!Important;
	}
	.searchform{
		width: 100%;
		float: right;
		margin: 0px;
		height: 100%;
	}
	.searchform input#s{
		height: 30px;
		font-size: 1em;
		padding-left: 1em;
		padding-right: 1em;
	}
	.searchform input#searchsubmit{
		border: 1px solid #ffffff;
		height: 30px;
		font-size: 1.2em!Important;
	}
	.nav-collapse li {
		width: 100%;
		height: 40px;
		border-bottom: 1px solid #FFFFFF;
	}
	.nav-collapse a{
		font-size: 1.5em;
		height: 100%;
		text-align: center;
	}
	#cRedSoc {
		width: 30px!Important;
		height: 30px!Important;
	}
	#cRedSoc a {
		border:0px!Important;
	}
}
input#s {
    width: 73%;
    margin-left: 5px;
    border-radius: 15px;
    float: left;
    margin-top: 5px;
    border: 1px solid indianred;
}
input[type="radio"] {
    visibility: hidden;
    width: 0%;
}
input#searchsubmit {
    background-color: indianred;
    border-radius: 10px;
    margin-top: 5px;
    color: #FFFFFF;
	float: left;
	border: 1px solid indianred;
}
div#nav {
    width: 100%;
    height: 100%;
}
.nav-collapse ul{
	list-style:none;
	width:100%;
	float:left
}
.nav-collapse.disable-pointer-events {
  pointer-events: none !important;
}
div#dLogo {
	background: url(imagen/LogoM.jpg) no-repeat;
    background-position: center;
    background-size: contain;
    float: left;
    width: 70%;
    height: 80px;
    margin-left: 5px;
}
.dBusca {
	width: 25%;
    height: 40px;
    float: right;
}
.searchform{
	visibility: hidden;
}
.searchform.Active{
	visibility: initial!Important;
    width: 280px;
    float: right;
    margin-left: calc(100% - 280px);
    margin-right: 60px;
}
.tab-bar-main {
    width: 100%;
    height: 70px;
    z-index: 999;
}
.cBtnBusca {
	background: url("imagen/lupa.png") no-repeat;
    background-position: center;
    background-size: contain;
    float: right;
    width: 10%;
    height: 20px;
	margin-top: 10px;
	margin-right: 50px;
}
.cRedes{
	background: indianred;
	width: 100%;
    height: 100%;
	text-align: center;
}
#cRedSoc{
	width: 30px;
    height: 30px;
	display: inline-block;
    margin: 0 auto;
	margin-top: .25em;
}
.cRedSoc1>a{
	background: url("imagen/Facebook.png") no-repeat;
    background-position: center;
    background-size: contain;
	border-right: 0;
	padding-top: 0;
}
.cRedSoc2>a{
	background: url("imagen/Instagram.png") no-repeat;
    background-position: center;
    background-size: contain;
	border-right: 0;
	padding-top: 0;
}
.cRedSoc3>a{
	background: url("imagen/Twitter.png") no-repeat;
    background-position: center;
    background-size: contain;
	border-right: 0;
	padding-top: 0;
}
/********************Inicio Footer***********************/
.site-footer {
    background: indianred;
	color: #fff;
	margin: 2rem 0 0;
}
.site-footer::before, .site-footer::after {
    content: '';
    display: table;
    table-layout: fixed;
}
.site-footer .footer-branding .wrapper, .site-footer .footer-widgets:first-child .wrapper {
    border-top: 4px solid #ccc;
}
.footer-branding .wrapper {
    padding-top: 1rem;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 90%;
    width: 1200px;
}
.site-footer, .site-footer a, .site-footer a:hover, .site-footer .widget-title, .site-info {
    color: #fff;
}
.site-footer .footer-widgets {
    padding: 1rem 0 2rem;
}
.site-footer .footer-widgets .wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
}
.site-footer .footer-widgets .widget {
    width: 100%;
}
.widget {
    font-family: -apple-system,blinkmacsystemfont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 1.7em;
    margin: 0 0 1rem;
    word-wrap: break-word;
}
.site-footer a {
    color: #515151;
    transition: opacity 110ms ease-in-out;
}
a {
    transition: color 110ms ease-in-out;
    color: #515151;
	text-decoration: none;
	background-color: transparent;
}
p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.widget_archive ul, .widget_categories ul, .widget_meta ul, .widget_nav_menu ul, .widget_pages ul, .widget_recent_comments ul, .widget_recent_entries ul, .widget_rss ul {
    padding: 0;
    list-style: none;
	list-style: disc;
}
ul, ol {
    padding-left: 1rem;
}
li, .widget_recent_comments ul li, .widget_recent_entries ul li, .widget_rss ul li {
    font-family: -apple-system,blinkmacsystemfont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
.widget_archive ul a, .widget_categories ul a, .widget_meta ul a, .widget_nav_menu ul a, .widget_pages ul a, .widget_recent_comments ul a, .widget_recent_entries ul a, .widget_rss ul a {
    display: inline-block;
    padding: .125rem 0;
}
.site-footer .footer-widgets .widget:last-child {
    margin-right: 0;
}
li {
    line-height: 1.6;
}
.site-footer, .site-footer a, .site-footer a:hover, .site-footer .widget-title, .site-info {
    color: #fff;
	padding-bottom: 1rem;
	font-size: .8em;
}
b {
    font-weight: bolder;
    font-size: 1em;
}
.site-info .copyright, .site-info .imprint {
	font-size: 1.5em;
}
ul#menu-header3 {
    padding: 0;
    list-style: none;
}
.social-links-menu li a svg {
    display: block;
    width: 24px;
    height: 24px;
    transform: translateZ(0);
}
.social-links-menu li a svg:hover{
	opacity:0.7;
}
img.lazyloaded:hover{
	opacity:0.7;
}
svg {
    transition: fill 120ms ease-in-out;
    fill: currentColor;
}
.social-links-menu li {
    list-style: none;
}
.screen-reader-text {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important;
}
.social-navigation, .social-links-menu {
    align-items: center;
    display: flex;
}
.site-info .widget-area .wrapper {
    border-top: 1px solid #d71521;
    justify-content: space-between;
    padding: 1rem 0 .5rem;
}
.site-footer .footer-widgets .widget {
	flex: 1 0 0%;
	margin-right: 2rem;
	min-width: calc(33% - 2rem);
}
.footer-branding .custom-logo-link, .footer-branding .footer-logo-link {
	margin-bottom: 1rem;
	height: auto;
	width: 100%;
}
img.lazyloaded {
	width: 60%!Important;
	height: auto!Important;
	position: relative;
}
@media only screen and (min-width: 782px){
	.site-footer .footer-widgets .widget {
		min-width: calc(25% - 2rem);
	}
}
@media only screen and (min-width: 782px){ 
	.wrapper {
		flex-wrap: nowrap;
	}
}
@media only screen and (max-width: 600px) {
	picture.footer-logo img {
		width: 100%!Important;
		height: auto!Important;
		position: relative;
	}
	.wrapper {
		display: block;
	}
	.social-links-menu li a svg {
		width: 45px;
		height: 45px;
	}
	b {
		font-size: 1.2em;
	}
	.textwidget.custom-html-widget a, ul#menu-header3 a {
		font-size: 1em;
	}
	.site-info .copyright, .site-info .imprint {
		font-size: 1.5em;
	}
}
@media only screen and (min-width: 782px){
	.widget {
		margin: 0 0 3rem;
	}
}
@media only screen and (min-width: 782px){ 
	.wrapper {
		flex-wrap: nowrap;
	}
}
/********************Fin Footer***********************/